/****** mobile first header **********/

.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  min-height: 90px;
  padding: 1rem 1.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--secondary-color1);
  box-shadow: var(--box-shadow-cta);
}

.logo img {
  width: 160px;
}

.main-nav {
  display: none;
}

.burger {
  display: block;
  width: 32px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 120%;
  height: 5px;
  border-radius: 5px;
  background-color: var(--accent-color1);
  margin-bottom: 8px;
  box-shadow: var(--box-shadow-cta);
}

section {
  min-height: 40vh;
  padding: 15px 16px;
}

.menu {
  display: none;
}
.burger {
  display: block;
  background-color: transparent;
  border: 0;
}

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(12px, -13px);
  transition: 0.2s linear;
}

.main-nav.active {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 90px;
  left: 0;

  width: 100%;
  padding: 1.5rem;

  background-color: #fff4e1;
  gap: 1rem;

  z-index: 999;
}

.main-nav.active a {
  text-align: center;
  padding: 0.9rem 2rem;
  border-radius: var(--border-radius-cta);
  background-color: var(--accent-color1);
  color: var(--accent-color2);
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: var(--h2-font-weight);
}
.main-nav.active a:hover {
  background-color: var(--accent-color1);
  transform: translateY(-2px);
  box-shadow: var(--box-shadow-cta);
}

.menu li:hover {
  transform: scale(1.05); /* Gør billedet lidt større */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Skyggeeffekt */
}

/* Disclaimer modal */
#disclaimerlogin-modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.disclaimerlogin-modal-container {
  max-width: 500px;
  margin: 15rem auto;
  padding: 1rem 3rem;

  font-family: var(--font-family);
  font-size: var(--paragraph-font-size);
  background: var(--accent-color1);
  color: var(--accent-color2);

  border-radius: 20px;
  width: 80%;
  height: auto;
  line-height: 1.5;
}

/* accepter cta */
#accept-btn {
  margin: 1rem auto 0 auto;
  padding: 0.6rem 1.2rem;
  font-weight: var(--cta-font);
  justify-content: center;
  align-items: center;
  float: right;

  font-family: var(--font-family);
  font-size: var(--paragraph-font-size);
  background-color: var(--secondary-color1);
  color: #000000;

  border: none;
  border-radius: var(--border-radius-cta);
}

#accept-btn:hover,
#accept-btn:focus {
  transform: translateY(-2px);
  text-decoration: none;
  cursor: pointer;
}

/***************FOOTER*********************/

.footerindhold {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--secondary-color1);
  color: var(--primary-color);
  padding: 2rem 1rem;
  font-family: var(--font-family);
}

.footerindhold h3 {
  margin-left: 35px;
}
.footerindhold p {
  margin-left: 35px;
}

.footerindhold a {
  color: var(--primary-color);
  text-decoration: none;
}

.footerindhold a:hover {
  text-decoration: underline;
}
.footerindhold li {
  list-style: none;
}

.footerindhold img {
  max-width: 50%;
  height: auto;
  margin-left: 35px;
  margin-top: 30px;
}

.socials {
  display: block;
}

/********desktop header***********/

@media (min-width: 840px) {
  .site-header {
    height: 7rem;
    padding: 0 5rem;
  }

  .logo img {
    width: 200px;
  }

  .burger {
    display: none;
  }

  .main-nav {
    display: flex;
    gap: 1rem;
  }

  .main-nav a {
    padding: 0.6em 2rem;
    border-radius: 999px;
    background-color: var(--accent-color1);
    color: var(--accent-color2);
    text-decoration: none;
    font-size: 0.9rem;
    font-family: var(--font-family);
    font-weight: 600;

    box-shadow: var(--box-shadow-cta);

    transition: 0.2s ease;
  }

  .main-nav a:hover {
    background-color: var(--accent-color1);
    transform: translateY(-2px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.22);
  }

  .footerindhold {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .kontakt-osv {
    margin-top: 105px;
    display: flex;
    gap: 2rem;
  }
  .footer-venstre,
  .footer-hoejre {
    width: 48%;
  }
}
