/************Reset**************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Img {
  width: 100%;
  height: auto;
  display: block;
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 10rem;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff4e1;
}

section {
  min-height: 40vh;
  padding: 60px 20px;
}

.logo img {
  width: 250px;
}

.main-nav {
  display: flex;
  gap: 1rem;
}

.main-nav a {
  padding: 0.9rem 4rem;
  border-radius: 999px;
  background-color: #e21e26;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.hero {
  background-color: #24352d;
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: auto minmax(0, 1300px) auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero-card {
  background-color: #fff4e1;
  border-radius: 8px;
  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.hero-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  height: 470px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

.hero-image img {
  width: 100%;
  height: 100%;

  object-fit: cover; /**betyder at den fylder hele boksen ud uden at ændre billedets proportioner”**/
}

.hero-image-wrapper {
  position: relative;

  width: 650px;
  height: 650px;
}

.hero-frame {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  z-index: 1;
}

.hero-text {
  color: #173128;
  margin-left: 8rem;
  width: 55%;
  font-family: "Raleway", sans-serif;
}

.hero-text h1 {
  font-size: 2rem;
  line-height: 1.1;
}

.hero-text p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.hero-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #24352d;
  color: white;
  border-radius: 999px;
  text-decoration: none;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.hero-arrow {
  width: 50px;
  height: 50px;
  border-radius: 25%;
  border: none;
  background-color: #dce8cf;
  color: #173128;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}
