/************ Reset **************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/************ HERO MOBIL **************/

.hero {
  position: relative;

  background-color: var(--primary-color);

  height: 65vh;

  overflow: hidden;
}

/* mørkt overlay ovenpå billedet */

.hero::after {
  content: "";

  position: absolute;
  inset: 0;

  z-index: 1;
}

/* hero billede */

.hero-img {
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow-cta);
  object-fit: cover;
  border-radius: 5px;
}

/* tekst ovenpå billedet */

.hero-overlay {
  position: absolute;

  left: 1.5rem;
  right: 1.5rem;
  bottom: 2rem;

  z-index: 2;

  color: var(--accent-color2);

  font-family: var(--font-family);
}

/* overskrift */

.hero-overlay h1 {
  box-shadow: var(--box-shadow-cta);
  font-size: 2.5rem;

  line-height: 0.95;

  margin-bottom: 1rem;
  margin-left: 1rem;

  max-width: 400px;
}

/* tekst */

.hero-overlay p {
  box-shadow: var(--box-shadow-cta);
  font-size: 1rem;
  font-weight: var(--font-weight-cta);

  line-height: 1.4;

  max-width: 320px;

  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

/* knap */

.hero-btn {
  margin-left: 1rem;
  display: inline-block;

  padding: 0.8rem 1.5rem;

  background-color: var(--secondary-color2);
  color: var(--primary-color);

  border-radius: 20px;

  text-decoration: none;
  font-weight: var(--font-weight);
  font-size: 1rem;
  box-shadow: var(--box-shadow-cta);

  transition: 0.2s ease;
}

.hero-btn:hover {
  transform: var(--transform-hover);
  box-shadow: var(--box-shadow-cta);
}

/*********donation*******/

.donation-section {
  background-color: #24352d;
  padding: 4rem 1rem;
}

.donation-card {
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 20px;
  background-color: #dde2cc;
  color: #24352d;
}

.donation-card h2 {
  font-family: var(--font-family);
  font-size: 2rem;
  margin-bottom: 3rem;
}

.donation-total {
  font-family: "Raleway", sans-serif;
  background-color: #fff4e1;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 1rem;
}

.donation-total strong {
  font-family: "Raleway", sans-serif;
  font-variant-numeric: tabular-nums;
  display: block;
  margin-top: 1rem;
  font-size: 2rem;
}

.donation-stats {
  font-family: "Raleway", sans-serif;
  display: grid;
  gap: 1rem;
}

.donation-stats article {
  background-color: #fff4e1;
  border-radius: 10px;
  padding: 2rem;
}

.donation-stats strong {
  font-family: "Raleway", sans-serif;
  display: block;
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 1;
}

.donation-stats span {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
}

/*******kredsløb*******/

.koncept h1 {
  font-family: "Raleway", sans-serif;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

.koncept {
  background-color: #24352d;
  padding: 4rem 1rem;
}

.kredsløb {
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 20px;
}

/******fordele*******/

.fordele-grid {
  display: grid;
  gap: 3rem;
}

.fordele {
  background-color: #24352d;
  padding: 4rem 1rem;
}

.fordele h1 {
  font-family: "Raleway", sans-serif;
}

.fordele p {
  margin-top: 0.5rem;
  font-family: "Raleway", sans-serif;
}

.fordeleimg {
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 20px;
  background-color: #fff4e1;
  color: #24352d;
}

.fordeleimg h2 {
  font-family: "Raleway", sans-serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.kort {
  width: 270px;
  height: 270px;

  border-radius: 50%;

  background-color: #d1d8c0;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  overflow: hidden;
}

.kort img {
  width: 55%;
  height: 55%;

  object-fit: contain;
}

.fordele-btn {
  font-family: "Raleway", sans-serif;
  display: flex;

  justify-content: center;
  align-items: center;

  width: fit-content;

  margin: 1rem auto 0 auto;

  padding: 0.6rem 1.2rem;
  font-weight: var(--font-weight);
  background-color: #e21e26;
  color: white;

  border-radius: 20px;
  text-decoration: none;

  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
}
.fordele-btn:hover {
  transform: translateY(-2px);
  box-shadow: var(--box-shadow-cta);
}

/*********kort************/

.kort-sektion {
  background-color: #24352d;
  padding: 4rem 1rem;
}

.kort-sektion h1 {
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.kort-sektion p {
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.dkmap {
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 20px;
  background-color: var(--secondary-color1);
  color: var(--primary-color);
}

.vejle img {
  display: none;
}

.kort-btn {
  font-family: "Raleway", sans-serif;
  display: flex;

  justify-content: center;
  align-items: center;

  width: fit-content;

  margin: 1rem auto 0 auto;

  padding: 0.6rem 1.2rem;
  background-color: #e21e26;
  color: white;

  border-radius: 20px;
  text-decoration: none;

  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
}

.kort-btn:hover {
  transform: translateY(-2px);
  box-shadow: var(--box-shadow-cta);
}

.dkmap img {
  size: 80%;
}

/**********apple*********/

.apple {
  background-color: #24352d;
  padding: 4rem 1rem;
}

.apple h1 {
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.apple h2 {
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.apple p {
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.apple img {
  width: 80%;
  height: auto;
  display: block;
  margin-left: 3.5rem;
  margin-bottom: 2rem;
}

.apple-btn {
  font-family: "Raleway", sans-serif;
  display: flex;

  justify-content: center;
  align-items: center;

  width: fit-content;
  margin: 1rem auto 0 auto;

  padding: 0.6rem 1.2rem;

  background-color: #a8b9a3;
  color: var(--primary-color);
  font-weight: bold;

  border-radius: 20px;
  text-decoration: none;

  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
}

.apple-btn:hover {
  transform: translateY(-2px);
  box-shadow: var(--box-shadow-cta);
}

/******samarbejdspartnere**********/

.partnere {
  background-color: #24352d;
  padding: 4rem 1rem;
}

.partnere h1 {
  color: white;
  font-family: "Raleway", sans-serif;
  text-align: left;
}

.partnere p {
  color: white;
  font-family: "Raleway", sans-serif;
  text-align: left;
  margin-top: 2rem;
}

.partnere img {
  margin-top: 3rem;
}

/************ Hero Desktop **************/

@media (min-width: 840px) {
  .hero {
    height: calc(100vh - 10rem);
  }

  .hero-overlay {
    left: 8rem;
    bottom: 6rem;
    max-width: 520px;
  }

  .hero-overlay h1 {
    font-size: 3rem;
    max-width: 450;
  }

  .donation-stats {
    grid-template-columns: repeat(3, 1fr);
  }

  /*******kredsløb desktop*******/

  .kredsløb img {
    margin-left: 13rem;
    width: 60%;
    height: auto;
    display: block;
  }

  /******fordele deksktop******/

  .fordele-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .fordel-card {
    display: flex;
    flex-direction: column;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: #24352d;
    margin: 2rem 0 3rem;
  }

  .fordeleimg h2 {
    font-family: "Raleway", sans-serif;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 17px;
  }

  /***********kort-sektion-desk************/

  .kort-sektion {
    background-color: #fff4e1;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .kort-sektion h1 {
    color: #24352d;
  }

  .kort-sektion p {
    color: #24352d;
  }

  .dkmap {
    max-width: 500px;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 20px;
    background-color: #fff4e1;
    color: #24352d;
  }

  .dkmap img {
    size: 80%;
  }

  .vejle {
    width: 560px;
    height: 560px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 7rem;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  }

  .vejle img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /******apple*******/

  .apple {
    padding: 1rem 4rem;
    min-height: auto;
  }

  .apple {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
  }

  .apple-tekst {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 550px;
    margin-left: 5rem;
  }

  .apple h1,
  .apple h2 {
    text-align: left;
  }

  .apple h1 {
    font-size: 2rem;
  }

  .apple h2 {
    margin-bottom: 4rem;
  }

  .apple p {
    text-align: left;
  }

  .apple img {
    width: 80%;
    max-width: 700px;
  }

  .apple-btn {
    position: relative;
    bottom: 300px;
    margin-top: 3rem;
    margin-left: 5rem;
    padding: 1rem 1.5rem;
    min-width: 320px;
  }
}
