:root {
  /****** Colors  ******/
  --primary-color: #24352d;
  --secondary-color1: #fff4e1;
  --secondary-color2: #a8b9a3;
  --accent-color1: #e21e27;
  --accent-color2: #ffffff;

  /****** Typography  ******/
  /*font*/
  --font-family: "raleway", sans-serif;

  /*sizes*/
  --h1-font-size: 48px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --h4-font-size: 19px;
  --paragraph-font-size: 16px;
  --imagetext-font-size: 14px;

  /*weights*/
  --h1-font-weight: 700;
  --h2-font-weight: 600;
  --h3-font-weight: 500;
  --h4-font-weight: 500;
  --paragraph-font-weight: 400;
  --imagetext-font-weight: 300;

  /*spacing*/
  --line-height: 1.5;

  /************************************* STANDARD BUTTON ELEMENTS **************************************************/
  --display-cta: inline-block;
  --margin-top-cta: 1rem;
  --padding-cta: 6rem 1.2rem;
  --border-radius-cta: 999px;
  --text-decoration-cta: none;

  --box-shadow-cta: 0px 6px 10px rgba(0, 0, 0, 0.2);
  --transition-cta: all 0.2s ease;
  --allign-self-cta: flex-start;
  --font-weight-cta: bold;

  /****************************************** BUTTON STYLES ************************************************/

  /*************** Læs mere knap, Se mere knap, Her knap røde *******************/
  --button-bg-color1: #e21e26;
  --button-text-color1: #ffffff;

  /*Hover effects*/
  --hover-color: #e21e26;
  --hover-bg-color: #fff4e1;
  --hover-duration: 0.3s;

  /*******************Dankort knapper lysegrønne *******************/
  --button-bg-color2: #a8b9a3;
  --button-text-color2: #24352d;

  /*Hover effects*/
  --transform-hover: translateY(-2px);
  --cta-box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.22);

  /*******************læs mere her knap 1 mørkegrøn *******************/
  --button-bg-color2: #24352d;
  --button-text-color2: #a8b9a3;

  /*Hover effects*/
  --transform-hover: translateY(-2px);
  --cta-box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.22);

  /*******************læs mere her knap 2 lysgrøn *******************/
  --button-bg-color3: #a8b9a3;
  --button-text-color3: #24352d;

  /*Hover effects*/
  --transform-hover: translateY(-2px);
  --cta-box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.22);
}
