/************ Reset **************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.naturen-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;

  background-color: var(--secondary-color2);
  color: var(--primary-color);
  font-weight: var(--font-weight-cta);

  border-radius: var(--border-radius-cta);
  text-decoration: none;

  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
  align-self: flex-start;
  font-family: var(--font-family);
}

.naturen-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.22);
}

.naturencards-btn {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 20px;
  padding: 0.6rem 1.2rem;
  background-color: var(--accent-color1);
  color: var(--accent-color2);
  margin-top: auto;
  font-weight: var(--font-weight-cta);
  border-radius: 999px;
  text-decoration: none;

  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
  align-self: flex-start;
  font-family: var(--font-family);
}

.naturencards-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.22);
}

.aktiviteterkarrussel h2 {
  color: var(--accent-color2);
  font-family: var(--font-family);
}

/*********************HERONATUREN**************/

main {
  background-color: var(--primary-color);
}

.baggrundblade {
  position: absolute;

  top: 0;
  left: 50%;

  transform: translateX(-50%);

  width: 350px;
  height: auto;

  top: -95px;
  width: 500px;

  z-index: 1;
}

.hero_tilnaturen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  position: relative;
  padding-top: 4rem;
  gap: 2rem;
}

.hero_naturenimage {
  position: relative;
  width: 250px;
  height: 250px;

  border-radius: 50%;
  overflow: hidden;

  z-index: 2;
}

.hero_naturenimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero_tilnaturentekst {
  color: var(--accent-color2);
  width: 100%;
  margin-left: 0;
  text-align: left;
  font-family: var(--font-family);
}

.spørgsmål-tekst {
  font-weight: lighter;
  margin-top: 3rem;
}

.image-wrapper {
  position: relative;
}

/******************DONATIONSTÆLLER***************/
.donationstæller-info {
  background-color: #dde2cc;
  border-radius: 30px;
  padding: 20px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  font-family: var(--font-family);
  color: var(--primary-color);
  max-width: 900px;
}

.donationstæller-info img {
  max-width: 100%;
  height: auto;

  display: block;

  border-radius: 20px;
  object-fit: cover;
}

.donationstæller-info p {
  font-size: 1rem;
  line-height: 1.7;
}

/***************AKTIVITETSCARDS*******************/

.aktiviteter-container {
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem;
  align-items: stretch;
}

.aktivitet-card {
  flex: 0 0 80%;
  background-color: var(--secondary-color1);
  border-radius: 30px;
  padding: 1rem;
  flex-shrink: 0;
  scroll-snap-align: start;
  text-align: left;

  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  color: var(--primary-color);
}

.aktivitet-card h3 {
  margin-left: 30px;
}

.aktivitet-card img {
  width: 100%;
  border-radius: 20px;
}

.dot {
  display: inline-block;
  height: 18px;
  width: 18px;
  background: var(--accent-color1);
  border-radius: 50%;
}

.lokation {
  display: flex;
  align-items: center;
  gap: 4px;
}

/******************KORT***********************/

.info-graphic {
  background-color: var(--secondary-color1);
  padding: 70px;
  border-radius: 60px;
  margin: 20px 30px 20px 30px;
}

.kortoversigt {
  background-color: #dde2cc;
  padding: 50px;
  justify-content: center;
  margin: 20px 30px 20px 30px;
  font-family: var(--font-family);
  color: var(--primary-color);
  border-radius: 30px;
}

.info-graphic svg {
  width: 100%;
  height: auto;
}

#efficiency,
#requirement {
  background-color: #fff4e1;
  padding: 20px;
  border-radius: 30px;
  margin: 20px 30px 20px 30px;
  color: #24352d;
  font-family: var(--font-family);
}

.hotspot-img {
  width: 30%;
  max-width: 600px;

  display: block;
  margin: 0 auto 20px auto;
}

html {
  scroll-behavior: smooth;
}

/******************MEDIA**************************/

@media (min-width: 840px) {
  .hero_tilnaturen {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 5rem;
  }

  .hero_tilnaturentekst {
    max-width: 500px;
  }

  .kort-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
  }

  .info-graphic,
  .kortoversigt {
    width: 70%;
  }

  .donationstæller-info {
    flex-direction: row;
    align-items: center;

    max-width: 1100px;
    margin: 50px auto;
    padding: 40px;
  }

  .donationstæller-info div {
    flex: 1;
  }

  .donationstæller-info img {
    max-width: 100%;
  }

  .aktivitet-card {
    flex: 0 0 300px;
  }
}
